:root {
    --primary-color: #dbebee;
    --secondary-color: #93b3ab;
    --highlight-color: #bed1d6;
    --hover-color: #8b9b98;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    -webkit-user-select: none;
    user-select: none;
}
body {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* height: 100vh; */
    flex-direction: column;
    gap: 10px;
    background-color: #f0f0f0;
}
h1 {
    font-size: 60px;
}
#board {
    display: grid;
    width: min(100vw, 500px);
    grid-template-columns: repeat(3, 1fr);
    /* height: ; */
    aspect-ratio: 1/1;
    border: 3px solid #000;
    background-color: #000000;
    gap: 3px;
}

.sqaure {
    display: grid;
    height: 100%;
    grid-template: repeat(3, 1fr)/repeat(3, 1fr);
    /* border: 1px solid #000; */
    gap: 1px;
}
.cell {
    /* border: 1px solid #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: min(40px, 9vw);

    background: var(--primary-color);
    cursor: pointer;
}
.cell:active {
    background-color: var(--highlight-color);
}
.cell:hover {
    background-color: #bccfc8;
}

.num-container {
    display: flex;
    width: min(600px,100%);
    justify-content: center;
    padding: 0px 10px;
    /* flex-wrap: wrap; */
    gap: min(5px, 1vw);
}
.num-btn {
    width: 45px;
    height: 45px;
    border: 2px solid;
    background-color: #b5cbc7;
    border-radius: 5px;
    font-size: min(32px, 9vw);
    cursor: pointer;
    
}
.num-btn:hover {
    background-color: var(--hover-color);
    /* border: none; */
}
.num-btn:active{
        background-color: grey;

}

.highlight {
    background-color: var(--highlight-color);
}
.active {
    background-color: var(--secondary-color);
}
.empty {
    color: transparent;
}
.invalid {
    color: red;
    background-color: #ffd6d6;
}
.disabled {
    pointer-events: none;
}
.filled {
    color: #005656;
}

.animate {
    animation: animate 1s linear 0s 1;
}
@keyframes animate {
    0%, 100% {
        background: var(--primary-color);
    }
    50% {
        background: turquoise;
    }
}