:root {
    --primary-color: #dbebee;
    --secondary-color: #93b3ab;
    --highlight-color: #bed1d6;
    --hover-color: #c7c6c6;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    -webkit-user-select: none;
    user-select: none;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 20px;
    background-color: #f0f0f0;
}
h1 {
    font-size: 60px;
}
#board {
    display: grid;
    width: min(100vw, 600px);
    grid-template-columns: repeat(3, 1fr);
    height: fit-content;
    aspect-ratio: 1/1;
    border: 3px solid #000;
    background-color: #444;
    gap: 3px;
}

.sqaure {
    display: grid;
    height: 100%;
    grid-template: repeat(3, 1fr)/repeat(3, 1fr);
    /* border: 1px solid #000; */
    gap: 1px;
}
.cell {
    /* border: 1px solid #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 35px;

    background-color: var(--primary-color);
    cursor: pointer;
}
.cell:active {
    background-color: var(--highlight-color);
}

.num-container {
    display: flex;
    width: min(600px,100%);
    justify-content: center;

    flex-wrap: wrap;
    /* gap: 10px; */
}
.num-btn {
    width: 45px;
    height: 45px;
    font-size: 20px;
    cursor: pointer;
    
}
.num-btn:hover {
    background-color: var(--hover-color);
}

.highlight {
    background-color: var(--highlight-color);
}
.active {
    background-color: var(--secondary-color);
}
.empty {
    color: transparent;
}
.invalid {
    color: red;
    background-color: #ffd6d6;
}
.disabled {
    pointer-events: none;
}
.filled {
    color: #005656;
}